@{
    ViewData["Title"] = "Vem är jag?";
}

<div class="text-center">

    <br /><br />
    <!-- Bild på mig som introduktion-->
    <img src="/images/avlang.png" alt="Kvinna som står framför en grå vägg och håller i en svart dvärgpudel" /><br /><br /><br />

    <h1 class="display-4">Vem är jag?</h1><br /><br />
    <!-- Informationstext -->
    <p class="about">
        Jag heter Malin Svensson och är 22 år gammal, jag bor i Sundsvall tillsammans med pojkvännen.
        Jag är just nu inne på mitt sista år av studerande för att bli en utbildad webbutvecklare. Utbildningen har pågått i två år och har hela tiden styrts på distans från Mittuniversitetet i Sundsvall.

        <br /> <br /> När jag inte studerar så lägger jag mycket tid på fotografering, det är mitt absolut största intresse och jag har ständigt nya projekt på gång. Jag visste därför sedan innan att jag har
        en väldigt kreativ sida och att jag tycker att det är väldigt kul att pyssla med design, färger och former. Genom utbildningen har jag verkligen fått reda på att det jag tycker är roligast
        med webbutveckling är UX, tillgänglighet och design. Det är alltså front-end som lockar mig mest, även om jag också kan tycka att det är riktigt intressant att sitta och justera i databaser. <br /><br />
        Webbplatsen du är inne på just nu är mitt slutprojekt i kursen ASP.NET med C# och jag skapar denna applikation i form av ett digitalt CV. Under fliken "utbildning" kan du läsa mer om vilka kurser
        jag läst, under "arbetserfarenhet" finns information om arbeten jag tidigare haft och tillsist så finns här nedanför ett litet collage med utplockade bilder från mitt arkiv. <br /><br />
        <b> Ha en fin dag, hälsningar Malin Svensson </b><br /><br />
        <b>Kontaktuppgifter:</b><br />
        Mail: malin_s@live.se <br />
        Telefon: 070-5355663 <br />

        <!-- Länk till mitt CV för automatisk nedladdning vid tryck -->
        <a href="/pdf/malinCV2021.pdf" download>Ladda ned mitt CV</a><br />
    </p><br /><br />

    <!-- Bildcollage -->
    <img src="/images/omslagfarg.png" alt="Ett collage med bilder på bland annat hund med glasögon, fjäril, man med ballonger och hundar i jultröjor" /><br /><br /><br />
</div>

<br />
