@{
    ViewData["Title"] = "Malins digitala CV";
}

<div class="text-center">
    <br /><br />

    <!-- Presentationsbild -->
    <img src="images/me.png" alt="Digitalt ritad bild i cirkel på Malin Svensson med svart bakgrund" /><br /><br /><br />

    <!-- Välkomsttext -->
    <h1 class="display-4">Malins Svenssons digitala CV</h1>
    <p>www.malinsvensson.se</p>
</div>
