<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/4781dfdb-082f-4ce3-bf97-80fb807c7517/resourceGroups/Aspprojekt/providers/Microsoft.Web/sites/masv-aspprojekt</ResourceId>
    <ResourceGroup>Aspprojekt</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://masv-aspprojekt.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>masv-aspprojekt.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>masv-aspprojekt</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$masv-aspprojekt</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>